* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.login-title{
    font-size: 4.8rem;
    text-align: center;
    margin-top: 32px;
}

.container-login-form{
    max-width: 800px;
    margin: 80px auto;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-radius: 5px;
}

.login-form{
    padding: 32px 32px 0px 32px;
}

.login-form__group{
    display: flex;
    flex-direction: column;
}

.login-form__name{
    font-size: 1.4rem;
    display: block;
    margin-bottom: 8px;
}

.login-form__input{
    flex: 1;
    min-height: 40px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;

}

.login-form__control{
    display: flex;
}

.login-form__btn{
    flex: 1;
    min-height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #7971EA;
    color: #fff;
    cursor: pointer;
}

.login-fom__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-form__socials-title{
    margin-top: 32px;
    color: #ccc;
}

.login-form__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-fom__socials--facebook{
    text-decoration: none;
    cursor: pointer;
}

.login-fom__socials--facebook:hover{
    opacity: 0.7;
}

.login-fom__socials-group{
    margin-bottom: 24px;
}

.login-form-controls{
    padding: 24px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 5px 5px;
}

.login-form-controls--cancel{
    padding: 10px 55px;
    background-color: #F44336;
    border-radius: 5px;
}

.login-form-controls--login{
    padding: 10px 55px;
    background-color: #fff;
    border: 1px solid #7971EA;
    color: #7971EA;
    border-radius: 5px;
}