<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="login-title">LOGIN</h1>
        <div class="login-form">
            <form action="" class="login-form__container">
                <div class="login-form__group">
                    <label for="" class="login-form__name">Username</label>
                    <input type="text" value="" class="login-form__input">
                </div>
                <div class="login-form__group">
                    <label for="" class="login-form__name">Password</label>
                    <input type="password" value="" class="login-form__input">
                </div>
                <div class="login-form__control">
                    <input type="submit" value="ĐĂNG KÝ" class="login-form__btn">
                </div>
            </form>
            <div class="login-form__socials">
                <p class="login-form__socials-title">Or Sign Up Using</p>
                <div class="login-fom__socials-group">
                    <a href="#" class="login-fom__socials--facebook">
                        <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
                        <span class="auth-form__socials-title">
                            Kết nối với Facebook
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="login-form-controls">
            <a href="" class="login-form-controls--cancel">
                Cancel
            </a>
            <a href="" class="login-form-controls--login">
                login
            </a>
        </div>
    </div>
</body>

</html>